@import url("../index.css");

table {
    width: 100%;
    border: 1px solid #ddd;
    font-size: var(--font-x-small);
    margin: 2em auto;

  }
  
  th {
    border-bottom: 1px solid #ddd;
  }
  
  th,
  td {
    width: 80%;
    /* background-color: red; */
  }
  
 
  
  tr:nth-child(2) {
    text-align: left;
  }