
@import url('../index.css');

/* Header  
    ===================*/

    .App-header{
        display: flex;
        align-items: center;
        border-bottom: 0.5rem solid red;
    
    
    }
    .App-header h1{
        font-size: var(--font-xx-large);
        color: red;
    }